<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>repslymotion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5473B5F81EDD5825004C0336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5473B60F1EDD5825004C0336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5473B61A1EDD5825004C0336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
